.body {
    background-color: #f4f4f4; /* Светло-серый фон */
    color: #333; /* Темный текст */
}

.container {
    background-color: #fff; /* Белый фон контейнера */
    border-radius: 8px; /* Закругленные углы */
    padding: 20px; /* Внутренний отступ */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень для контейнера */
}

.title {
    color: #007acc; /* Цвет заголовка */
}

.noImageContainer {
    background-color: #fff; /* Белый фон для блока без картинок */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.noImageText {
    color: #555; /* Цвет текста в блоке без картинок */
}